:root{
    --clr-dark: #0f172a ;    
    --clr-light:#f1f5f9;    
    --clr-accent: #e11d48 ;    
}

*,
*::before
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "Roboto", sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


button{
    color: var(--clr-accent);
    background-color: rgb(250, 160, 178) ;
    font-size: 2rem;
    border: 10px solid var(--clr-accent);
    border-radius: 5px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: all .2s ease;
    cursor: pointer;
    box-shadow: 10px 10px #e11d48;
    
}

button:hover{
    transform: translate(5px, 5px);
    box-shadow: 5px 5px #e11d48;
    color: white;
    background-color:var(--clr-accent);
}


